<p-table [value]="empresas()" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
        <tr>
            <th>Nombre</th>
            <th>Cantidad de empleados</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template #caption>
        <div class="row">
            <div class="col text-end">
                <p-button icon="pi pi-plus" (onClick)="createEmpresa()"></p-button>
            </div>
        </div>
    </ng-template>
    <ng-template #body let-empresa>
        <tr>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa?.empleados?.length || 0 }}</td>
            <td>
                <div class="row">
                    <div class="col">
                        <p-button (onClick)="updateEmpresa(empresa)" icon="pi pi-pencil"></p-button>
                    </div>
                    <div class="col">
                        <p-button (onClick)="detailEmpresa(empresa)" icon="pi pi-eye"></p-button>
                    </div>
                    <div class="col">
                        <p-button (onClick)="eliminarEmpresa(empresa)" icon="pi pi-trash"></p-button>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table> 