 <p-toast />

@if(spinner){
<div class="row text-center">
    <div class="col">
        <div class="card">
            <p-progress-spinner />
        </div>
    </div>
</div>
}@else {
    <div class="row">
        <div class="col">
            <h1>Actualizar empresa</h1>
        </div>
        <div class="col text-end">
             <p-button icon="pi pi-undo" [routerLink]="['/empresas/list-empresas']"></p-button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <app-form-empresa [title]="'Actualizar empresa'" [empresa]="empresa" (eventEmitterForm)="updateEmpresa($event)"></app-form-empresa>
        </div>
    </div>
} 