<form [formGroup]="form" (ngSubmit)="sendForm()">
    <div class="row">
        <div class="col">
            <label for="nombre" class="text-dark">Nombre: </label>
            <input type="text" [style]="{width : '100%'}" pInputText formControlName="nombre">
            @if(form.get('nombre')!.hasError('required') && form.get('nombre')?.touched){
            <span class="text-danger">
                <small class="p-error"> Este campo es <strong>obligatori</strong></small>
            </span>
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <p-multiselect [options]="empleados()" formControlName="empleados" appendTo="body" optionLabel="nombre"
                optionValue="id" placeholder="Selecciona los empleados" scrollHeight="250px" display="chip" 
                styleClass="w-full w-100">
                <ng-template let-empleado>
                    {{empleado().nombre}}
                </ng-template>
                @if(form.get('empleados')!.hasError('required') && form.get('empleados')?.touched){
                <span class="text-danger">
                    <small class="p-error"> Este campo es <strong>obligatori</strong></small>
                </span>
                }
            </p-multiselect>
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col">
            <p-button [disabled]="form.invalid" type="submit" [label]="title()" [rounded]="true"
                severity="success"></p-button>
        </div>
    </div>
</form>