<form [formGroup]="form" (ngSubmit)="sendForm()">
    <div class="row">
        <div class="col">
            <label for="nombre" class="text-dark">Nombre</label>
            <input type="text" [style]="{width : '100%'}" pInputText formControlName="nombre" id="nombre">
            @if(form.get('nombre')?.hasError('required') && form.get('nombre')?.touched){
            <span class="text-danger">Este campo es requerido</span>
            }
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <label for="nombre" class="text-dark">Empresa</label>
            <p-select optionLabel="nombre" optionValue="id" formControlName="empresa" appendTo="body"
                [options]="empresas" placeholder="Seleccion una empresa" class="w-full w-100">
                <ng-template let-empresa>
                    {{empresa.nombre}}
                </ng-template>
            </p-select>
            @if(form.get('empresa')?.hasError('required') && form.get('empresa')?.touched){
            <span class="text-danger">Este campo es requerido</span>
            }
        </div>
    </div>
    <div class="row mt-3 text-center">
        <div class="col">
            <p-button [disabled]="form.invalid" type="submit" [label]="labelSubmitButton()" [rounded]="true"
                severity="success"></p-button>
        </div>
    </div>
</form>