<p-toast />

@if(spinner){
<div class="row text-center m-0 p-0">
    <div class="col m-0 p-0">
        <div class="card">
            <p-progress-spinner />
        </div>
    </div>
</div>
}@else {
<div class="row">
    <div class="col">
        <h1>Actualizar empleado</h1>
    </div>
    <div class="col text-end">
        <p-button icon="pi pi-undo" [routerLink]="['/empleados/list-empleados']"></p-button>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-form-empleado [labelSubmitButton]="'Actualizar empleado'" (eventEmitterForm)="updateEmpleado($event)" [empleado]="empleado"></app-form-empleado>
    </div>
</div>
}